{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <script src="{% static 'js/d3.min.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/base.css' %}">
<h1>Welcome, {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h1>
<hr>

    <p>The time is {{ time }}</p>
    {% if courses %}
        {% if has_checked_in %}
            <p>You have already checked in for {{ courses.0.name }} today.</p>
            <p>Total Checkin's for {{ courses.0.name }} is: {{ total }}</p>
        {% else %}
            <div id="checkInButton">
            <h2>Check in for:</h2>
            <h4 id="currentCourse" data-course="{{ courses.0.name }}">{{ courses.0.name }}</h4>
                <BR>
            <button id="checkIn" >Check In</button>

            </div>
            <div id="total">
            <p id="totalCheckin"></p>
            <BR><BR>
            </div>
            <h2>D3 Graphic</h2>
             <div id="chart"></div>
        {% endif %}
    {% else %}
        <p>You have no class at this time today.</p>
    {% endif %}
{% endblock content %}
